header p{ 
    color: #ffffff;
    font-weight: 600;
}

h1{
    font-size: 63px;
    color: white;
    padding: 15px;
    text-align: center;
}

h2{
    font-size: 24px;
    text-transform: uppercase;
    color: #444444;
    font-weight: 600;
}

.carousel-caption h5{
    font-size: 50px;
    color: rgb(255, 187, 0);
    text-shadow: 2px 2px 2px black;
}

.card{
    background-color: rgb(245, 245, 245);
    color: black;
}

.carousel-item img {
    height: 500px; /* Defina uma altura fixa que funcione bem para suas imagens */
    object-fit: cover; /* Mantém a proporção das imagens e cobre todo o espaço disponível */
}